/* give spacing to the top to indicate seperation from upper section */
.Availability {
  margin-top: 200px;
}

/* set the width and adjust spacing on top */
.Availability__content {
  margin-top: 85px;
  max-width: 630px;
}
/* setting the style for the content paragraph */
.Availability__content p {
  font-size: 16px;
  font-weight: 600;
  line-height: 28.14px;
  color: var(--disabled);
}
