/* GIVING MARGIN TO THE TOP */
.Availability {
  margin-top: 200px;
}
/* GIVING MAX-WIDTH AND MARGIN TOP */
.Availability__content {
  margin-top: 85px;
  max-width: 630px;
}
/* SETTING FONT SIZE, WEIGHT, COLOR, AND HEIGHT OF THE PARAGRAPH */
.Availability__content p {
  font-size: 16px;
  font-weight: 600;
  line-height: 28.14px;
  color: var(--disabled);
}
