.ToTheTopButton {
  background-color: var(--primary-color);
  position: fixed;
  bottom: 5%;
  right: 2%;
  width: 30px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2000;
  border-radius: 2px;
}
.arrow svg {
  width: 20px;
  height: 30px;
  transform: rotate(270deg);
}
