.CarouselNavgationBtn {
  grid-column: span 2;
  border-radius: 5px;
  padding: 8px;
  background-color: #ffffff67;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.CarouselNavgationBtn button {
  display: flex;
  flex-direction: column;
  column-gap: 1rem;
  background: none;
  border: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #fff;
}
.CarouselNavgationBtn p {
  font-size: 16px;
}
.CarouselNavgationBtnLogo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.CarouselNavgationBtnLogo svg {
  width: 20px;
  height: 20px;
  margin-bottom: 0.4rem;
}
