.AboutMeItem {
  width: 100%;
}

.AboutMeItem__content {
  font-size: 34px;
  line-height: 59.81px;
  color: #fff;
}

/* puts element on the left half of the grid */
.left {
  grid-column: 1/2;
}
/* puts element on the right half of the grid */
.right {
  grid-row: 2/3;
  grid-column: 2/-1;
}

/* making the .right and .left responsive to smaller screens, making them full width of a column*/
@media screen and (max-width: 1260px) {
  .left {
    grid-column: 1/-1;
    margin-bottom: 160px;
  }
  .right {
    grid-row: 2/3;
    grid-column: 1/-1;
  }
}
/* adjust font-size and margins for smaller screens */
@media screen and (max-width: 540px) {
  .left {
    margin-bottom: 100px;
  }
  .AboutMeItem__content {
    font-size: 16px;
    line-height: 35px;
  }
  .AboutMeItem__title {
    font-size: 12px;
    margin-bottom: 25px;
  }
}
