/* setting the header backgound image with 2 different srcset sizes */
.Header {
  min-height: 100%;
  background-image: image-set(
    url("../../assets/imgs/Hero-imagex1.jpg") 1x,
    url("../../assets/imgs/Hero-imagex2.jpg") 2x
  );
  background-size: cover;
  background-position: 65% 0%;
  background-repeat: no-repeat;
  padding-bottom: 30px;
}
