.App {
  height: 100%;
  min-height: 100%;
}
.App.dark {
  background-color: var(--theme-dark);
  color: var(--text-color-dark-theme);
}
.App.dark a {
  color: var(--text-color-dark-theme);
}
html.nav-open,
body.nav-open {
  overflow-y: hidden;
}
