/* making the .AboutMe a grid container with 2 cols */
.AboutMe {
  column-gap: 310px;
  row-gap: 200px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 200px;
}
/* decrease column gap */
@media screen and (max-width: 1630px) {
  .AboutMe {
    column-gap: 210px;
  }
}

/* put padding on the sides and decrease column gap for when the screen gets smaller */
@media screen and (max-width: 1450px) {
  .AboutMe {
    padding: 0 10px;
    column-gap: 110px;
  }
}
@media screen and (max-width: 1260px) {
  .AboutMe {
    padding: 0 10px;
    column-gap: 110px;
    row-gap: 0px;
  }
}
/* decrease margin-top */
@media screen and (max-width: 670px) {
  .AboutMe {
    margin-top: 130px;
  }
}
